@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClassicScript";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  size-adjust: 150%;
  src: local("Classic Script MN"), local("ClassicScriptMN"),
    url("@/assets/fonts/ClassicScriptMN.woff2") format("woff2"),
    url("@/assets/fonts/ClassicScriptMN.woff") format("woff"),
    url("@/assets/fonts/ClassicScriptMNRegular.ttf") format("truetype");
}
