@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClassicScript";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Classic Script MN"),
    url("@/assets/ClassicScriptMNRegular.ttf") format("truetype");
}
