{% extends 'admin/base.html' %} {% block extrastyle %}
<style>
  :root {
    --primary: #7F9593;
    --primary-fg: #fff;
    --secondary: #1F4045;

    --body-fg: #1F4045;
    --body-bg: #EaE6E3;
    --body-quiet-color: #1f4045;

    --darkened-bg: #fff;
    --selected-bg: #d5b19b;
    --selected-row: #d5b19b;

    --link-fg: #7f9593;
    --header-link-color: #fff;
    --link-hover-color: #1f4045;

    --accent: #D5B19B;
    --header-color: #1f4045;

    --breadcrumbs-link-fg: #fff;
    --hairline-color: inherit;
    --border-color: inherit;
  } 

  caption, h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #content-related, #toolbar {
    border-radius: 5px;
  }

  .current-model a {
    color: #1f4045;
  }

  textarea, select, input {
    background-color: var(--darkened-bg) !important;
    border: 1px solid var(--secondary) !important;
  }
</style> {{ block.super }}
{% endblock %}