{% load i18n %}
{% load static %}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <table role="presentation" width="100%" cellspacing="0" border="0" style="color: #1F4045; font-family: serif; padding: 20px; font-size: 16px;">
            <tr style="width: 100%; padding: 40px;">
                <td>
                    <img src="{{ site }}{% static 'logo_long.webp' %}" width="100%" alt="logo">
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px">
                    <p style="font-size: 20px; font-weight: bold;">{% translate "You have been invited!" %}</p>
                    <p>{% blocktrans %}{{parent_fullname}} invited you to Priscilla and Lorenzo's wedding.{% endblocktrans %}</p>
                    <p>{% translate "You can access the website through the link below." %}</p>

                    <div>
                        <table cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tr align="center">
                                <td  width="200" height="30"
                                    style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #EAE6E3; display: block; background-color: #7F9593;">
                                    <a href="{{ site_name }}"
                                        style="font-size:16px; font-weight: bold; font-family:serif; text-decoration: none; line-height:30px; width:100%; display:inline-block">
                                        <span style="color: #EAE6E3">
                                            {% translate "Click here" %}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </td>

            </tr>
        </table>
    </body>
</html>
