{% load i18n %}
<body style="font-family:sans-serif;">
<h1>{% translate "Your login link" %}</h1>
<p>{% translate "Please click the link below to access the invitee area." %}</p>

<div>
    <table cellspacing="0" cellpadding="0"> 
        <tr> 
            <td align="center" width="300" height="40" bgcolor="#426cf5" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                <a href="{{ site_name }}{{ auth_url }}?email={{ user_email }}&token={{ callback_token }}" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                <span style="color: #ffffff">
                {% translate "Click here to access the invitee area" %}
                </span>
                </a>
            </td> 
        </tr> 
    </table> 
</div>

</body>